.meal{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;

  padding: 50px 0;
  &__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
  }
  &__title{
    font-size: 43px;
    color: #d49726;
    font-weight: 700;
    max-width: 600px;
    text-align: center;

    &-top{
      font-size: 30px;
      color: #000000;
      font-weight: 700;
    }
  }
  &__info{
    font-size: 18px;
  }
  &__img{
    max-height: 570px;

    border-radius: 10px;
    object-fit: cover;
  }
}